body {
    background: pink;
    font-family: system-ui;
    min-height: 100vh;
    font-size: 18px;
}

#cards {
    columns: 15em;

    &>div {
	background: black;
	color: white;
	padding: 0.3em;
	margin: 0 0 1.2em 0;
    }

    & a {
	color: lightblue;
	&:visited {
	    color: slateblue;
	}
    }

    & p {
	margin: 0.1em;
    }


    & h2 {
	color: deeppink;
	box-shadow: 0.1em 0.3em deeppink;
	background: white;
	margin: 0.2em 0.4em 0.2em 0.2em;
	padding: 0.2em;
    }
    
    & h3 {
	font-size: 1em;
	margin-bottom: 0px;
    }
}

.classified-ads{
  background-color: darkmagenta;
}
.cw {
  color: red;
}
